:root
    /* Colors */
    --color-light: #fff
    --color-primary: #17252a
    --color-primary-variant: #2b7a78
    --color-secondary: #def2f1
    --color-secondary-variant: #3aafa9

    --color-info: #67c6fa

    /* Sizes */
    --root-size: 16px
    font-size: var(--root-size)

    --size-default: 1rem
    --radius-default: 8px

    /* Columns */
    --column-padding: var(--size-default)

    /* Weights */
    --weight-bold: 700
    --weight-normal: 300
    --weight-light: 100

    /* Speed */
    --slow: 800ms
    --normal: 400ms
    --fast: 200ms