@import url('https://fonts.googleapis.com/css?family=Parisienne|Source+Sans+Pro:300&display=swap');

:root {
    --root-size: 18px;
    --body-background-color: #fff;
    --font-family-primary: 'Source Sans Pro', sans-serif;
    --font-family-secondary: 'Parisienne', cursive;
    --a-title-weight: 100;
    /* font-family: 'Parisienne', cursive; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}