\:root
    --a-control-border-radius: calc( var(--radius-default) / 2)
    --a-control-color: var(--color-text)

.a-control
    &__input
        padding: .25rem
        border: 1px solid gray
        border-radius: var(--a-control-border-radius)
        color: var(--a-control-color)