\:root
    --hr-margin: var(--size-default) 0
    --hr-background-color: var(--color-light)
    --hr-height: 1px

.a-hr
    width: 100%
    border: none
    display: block
    height: var(--hr-height)
    margin: var(--hr-margin)
    background-color: var(--hr-background-color)