:root
    --a-notification-color: var(--color-light)
    --a-notification-background-color: var(--color-primary)

.a-notification
    color: var(--a-notification-color)
    background-color: var(--a-notification-background-color)
    padding: 1rem
