.l-row
    display: flex
    &__column
        flex-grow: 1
        flex-basis: 0
        padding: 1rem        
        @for $i from 1 through 12
            &--#{$i}
                flex: none
                width: percentage( $i / 12 )